<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../signup/style.css">

    <title>Group Chat Sign Up</title>
</head>

<body>
    <div class="container" id="form-container">
        <h1>login</h1>

        <form id="loginform">
            <div class="txt_field">
                <input type="email" name="email" id="emailField">
                <span></span>
                <label for="emailField">Email:</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="passwordField"><br>
                <span></span>
                <label for="passwordField">Password:</label>
            </div>
            <div class="pass">
                <a href="../forgot/forgot.html">Fogot Password</a>
            </div>
            <button id="submit" type="submit">Log In</button>

            <div class="login_link">
                <a href="../signup/signup.html">New User? Click Here.</a>

            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
        <script src="login.js"></script>
</body>

</html>