<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat Sign Up</title>
</head>

<body>
    <div class="container" id="form-container">
        <!-- <form action="/login" method="post"> -->
        <form id="signupform">
            <label for="nameField">Name:</label>
            <input type="text" name="name" id="nameField">
            <label for="emailField">Email:</label>
            <input type="email" name="email" id="emailField">
            <label for="phoneField">Phone No:</label>
            <input type="tel" name="phone" id="phoneField">
            <label for="passwordField">Password:</label>
            <input type="password" name="password" id="passwordField"><br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="container" id="error-container">
        <p id="error-text"></p>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="signup.js"></script>

</html>