<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../chat/chat.css">
</head>

<body>
    <header>
        <h2>Chat App</h2>
    </header>
    <div id="group-body">
        <div id="group-header">
            <button id="new-group-btn">New group</button>
            <!-- <button id="new-chat-btn">New chat</button> -->
        </div>
        <div id="chat-list">

        </div>
    </div>
    <div class="container" id="chat-body">
        <div id="open-chat">

        </div>
        <div class="hide">Click to see members</div>
        <div id="chat-ul">

        </div>
    </div>
    <div id="members-list">
        <button id="close-members-btn">X</button>
        <ul id="members-ul">

        </ul>
    </div>
    <footer>
        <div id="form-div">
            <form id="chat-form">
                <input type="text" id="message" placeholder="Type a message" size="80%">
                <button type="submit">Send</button>
                <!-- <button onclick="sendMedia();" type="send-media" id="send-media-group"
                    class="send-media-btn">UP</button> -->
            </form>

        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="chat.js"></script>

</html>