body {
  position: relative;
  display: flex;
  margin: 0px;
  padding: 0px;
}

footer {
  position: fixed;
  bottom: 0%;
  background-color: #1877f2;
  width: 60%;
  right: 0%;
  text-align: center;
}

header {
  color: white;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  position: fixed;
  background-color: #afb1b3;
  width: 100%;
  height: 50px;
  z-index: 1;
}

#group-body {
  position: relative;
  float: left;
  width: 40%;
  background-color: #a6a6a6;
  height: 100%;
  top: 62px;
  overflow: scroll;
}

#chat-body {
  position: relative;
  float: right;
  top: 60px;
  bottom: 200px;
  min-width: 60%;
  height: 100%;
  background-color: #8b8e8d;
  text-align: end;
  overflow: scroll;
}

#chat-ul p {
  font-size: 14pt;
}

#chat-form {
  padding-top: 1.3rem;
}

#message {
  height: 35px;
  font-size: 14pt;
}

#chat-form button {
  height: 35px;
  font-size: 12pt;
  border-radius: 0.8rem;
}

#chat-form button:hover {
  cursor: pointer;
}

#group-header {
  background-color: white;
}

#group-header button {
  width: 100%;
  font-size: 12pt;
  border-radius: 0.8rem;
}

#group-header button:hover {
  cursor: pointer;
}

#chat-list p {
  /* padding: 0.6rem; */
  margin-left: 10%;
  font-size: 14pt;
}

#chat-list div:hover {
  /* color: rgb(255, 255, 255); */
  color: #dae4ed;
  background-color: #afb1b3;
  cursor: pointer;
}

#chat-list div {
  display: flex;
  justify-content: space-between;
}
#chat-list button {
  padding: 1rem;
  border-radius: 0.8rem;
  font-size: 14pt;
  background-color: #afb1b3;
}

#chat-list button:hover {
  background-color: #616264;
  cursor: pointer;
}

#open-chat {
  background-color: azure;
  width: 100%;
  font-size: 14pt;
  text-align: center;
  border-radius: 0.8rem;
}

.hide {
  display: none;
}

#open-chat:hover + .hide {
  display: block;
  color: white;
}

#open-chat:hover {
  cursor: pointer;
}

#members-list {
  position: fixed;
  right: 0%;
  top: 110px;
  width: 60%;
  height: 100%;
  background-color: #c6cac9;
  visibility: hidden;
}

#members-list.active {
  visibility: visible;
}

#close-members-btn {
  float: right;
}
