body {
  position: relative;
}

footer {
  position: fixed;
  bottom: 0%;
  background-color: #1877f2;
  width: 100%;
  text-align: center;
}

header {
  text-align: center;
}

#form-div {
  padding-top: 1rem;
  padding-bottom: 0rem;
}
